.outerDogCardContainer {
    width: 48%;
    padding: 5px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.outerDogCardContainer:nth-child(odd) {
    border-right: 1px solid rgb(221, 221, 221);

}

.outerDogCardContainer:nth-last-child(1) {
    border-bottom: 1px solid transparent;
}

.dogWalkCard {
    color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
    background-color: white;
    transition: all .5s 0s;
    border-radius: 10px;
}

.dogWalkCard:hover {
    background-color: rgb(236, 248, 255);
}

.walkDogInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 12vw;
}

.walkPicAndDogInfo {
    display: flex;
    font-size: 20px;
}

.walkDate {
    font-size: 28px;
    margin-bottom: 7px;
}

.walkPic {
    width: 15vw;
    height: 12vw;
    min-width: 15vw;
    min-height: 12vw;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-right: 20px;
}

#walkLocationContainer {
    align-items: flex-start;
}

#walkLocation {
    margin-right: 25px;
}

#editDeleteWalkButtons div {
    width: fit-content;
    padding: 5px 10px;
}

#editWalkButton {
    margin-right: 10px;
}

#walkDeleteConfirmButtons div {
    width: fit-content;
}

#changeWalkDateForm {
    min-height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#selectNewDateHeader {
    font-weight: 600;
}

#changeDateConfimButton {
    background-color: rgb(26,136,199);
}

#changeDateConfimButton:hover {
    background-color: rgb(16, 87, 128);
}
