.puploadContainer {
    width: 90vw;
    max-width: 1600px;
    margin: 0 auto;
    height: fit-content;
}

.puploadContainer h2 {
    font-size: 17px;
    width: 600px;
}

/* .puploadForm {
    display: flex;
} */

.formInputSection {
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid rgb(221,221,221);
    border-radius: 10px;
    width: fit-content;
    padding: 20px;
}

.pupLoadField {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.pupLoadField input {
    padding: 4px;
    font-size: 18px;
    width: 250px;
    border: 1px solid rgb(175, 175, 175);
}

.pupLoadField textarea {
    padding: 4px;
    font-size: 14px;
    width: 250px;
    border: 1px solid rgb(175, 175, 175);
    height: 70px;
}

.fieldSection {
    padding: 15px;
}

textarea {
    resize: none;
}

#pupLoadError {
    font-size: 17px;
}

#pupLoadError div {
    width: 17px;
    height: 17px;
}
