.puploadContainer {
    width: 90vw;
    max-width: 1600px;
    margin: 0 auto;
    height: fit-content;
    margin-bottom: 100px;
    font-family: 'Questrial', sans-serif;
}

.puploadContainer h1 {
    width: fit-content;
    margin: 30px auto;
}

.formAndIntro {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
    align-items: flex-start;
}

.formAndIntro h2 {
    font-size: 17px;
    width: 300px;
    height: fit-content;
    box-sizing: border-box;
    font-weight: 200;
    line-height: 24px;
    text-align: justify;
    border: 1px solid rgb(221,221,221);
    border-radius: 10px;
    padding: 20px;
    margin: 0;
}

.puploadFormsContainer {
    display: flex;
    justify-content: space-between;
}

.formInputSection {
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid rgb(221,221,221);
    border-radius: 10px;
    width: fit-content;
    padding: 20px;
}

.pupLoadField {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.pupLoadField input {
    padding: 10px;
    font-size: 18px;
    width: 250px;
    border: 1px solid rgb(175, 175, 175);
    outline: none;
}

.pupLoadField label {
    font-size: 20px;
    margin-bottom: 3px;
}

.pupLoadField input:focus {
    border: 1px solid rgb(45, 160, 226);
}

.pupLoadField textarea {
    padding: 10px;
    font-size: 14px;
    width: 250px;
    border: 1px solid rgb(175, 175, 175);
    height: 90px;
    outline: none;
}

.pupLoadField textarea:focus {
    border: 1px solid rgb(45, 160, 226);
}


#stateSelector select {
    width: 170px;
    font-size: 16px;
}

.fieldSection {
    padding: 15px;
}

.fieldSection h3 {
    font-size: 25px;
    max-width: 282px;
    overflow-wrap: break-word;
}

textarea {
    resize: none;
    font-family: inherit;
}

.addDogError {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-bottom: 5px;
    visibility: hidden;
}

.addDogError div {
    background-color: rgb(192, 53, 22);
    color: white;
    border-radius: 50%;
    height: 17px;
    width: 17px;
    text-align: center;
    margin: 0 5px 0 15px;
}

.addDogError span {
    color: rgb(192, 53, 22);
}

#addressError {
    visibility:visible;
}

#dogError {
    visibility:visible;
}

.dogHoldingLeash {
    width: 230px;
    height: auto;
    border-radius: 10px;
    margin-left: 30px;
}

.classYesAddressError {
    background-color: rgb(255, 154, 154);

}

.puploadButtons {
    margin-top: 20px;
}

.puploadButtons button {
    width: 150px;
    height: 32px;
    margin: 5px;
    background-color: rgb(26, 136, 199);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 8px;
    transition: all 0.25s ease-in-out;
}

#clearPuploadForm {
    background-color: #CC2D4A;
}

.puploadButtons button:hover {
    background-color: rgb(16, 87, 128);
}

#clearPuploadForm:hover {
    background-color: #861e31;
}
