.singleDogHolder {
    max-width: 300px;
    min-width: 260px;
    max-height: 300px;
    min-height: 260px;
    width: 20vw;
    height: 20vw;
    position: relative;
    margin: 10px;
}

/*
.react-slideshow-container {
    max-width: 200px;
    width: 200px;
} */

.dogSlide {
    max-width: 300px;
    min-width: 260px;
    max-height: 300px;
    min-height: 260px;
    width: 20vw;
    height: 20vw;
}

.dogImageSlide {
    background-size: cover;
    max-width: 300px;
    min-width: 260px;
    max-height: 300px;
    min-height: 260px;
    width: 20vw;
    height: 20vw;
    border-radius: 20px;
}

.each-slideshow-indicator {
    position: absolute;
    top: -40px;
    left: -20px;
}

.react-slideshow-container+ul.indicators .each-slideshow-indicator:before {
    background: white;
}

.react-slideshow-container .default-nav {
    width: 20px;
    height: 20px;
}
