body {
  margin: 0;
}

.mainHeaderContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
  height: 80px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  background-color: white;
  z-index:11;
  box-shadow: 0 4px 4px -4px rgb(211, 211, 211);
}

.mainLogoTitle {
  display: flex;
  align-items: center;
  position: relative;
}

.mainLogo {
  font-family: "Gloria Hallelujah", cursive;
  color: rgb(255, 56, 93);
  font-size: 45px;
}

.mainTitle {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: rgb(255, 56, 93);
  margin-top: 10px;
  margin-left: 6px;
}

.profBarContainer {
  width: 189.359px;
  display: flex;
  justify-content: flex-end;
}
