body {
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 11;
  transition: all 0.5s 0s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  height: 100px;
  box-sizing: border-box;
  background-color: white;
  z-index: 11;
  box-shadow: 0 4px 4px -4px rgb(211, 211, 211);
}

.mainLogoTitle {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainLogo {
  font-family: "Gloria Hallelujah", cursive;
  color: rgb(255, 56, 93);
  font-size: 45px;
}
