.reviewsContainer {
    border-bottom: 1px solid rgb(221, 221, 221);
    padding-bottom: 40px;
    z-index: 1;
}

.reviewsHeader {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.reviewsHeader div {
    font-size: 24px;
    margin-right: 6px;
}

#reviewStarHeader {
    font-size: 17px;
    color: rgb(255,56,93);
}

#reviewPeriod {
    font-size: 4px;
}

.avgRatingsContainer {
    margin-top: 30px;
}

.avgRatingsRow1 {
    margin-bottom: 20px;
}

.avgRatingsRow1, .avgRatingsRow2 {
    display: flex;
    justify-content: space-between;
}

.singleAvgRating {
    display: flex;
    width: 316.359px;
    justify-content: space-between;
    position: relative;
}

.reviewBar {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fullReviewBar {
    width: 120px;
    height: 4px;
    background-color: rgb(221,221,221);
    border-radius: 15px;
}

.dynamicReviewBar {
    height: 4px;
    background-color: rgb(34,34,34);
    border-radius: 15px;
}

.emptySpace {
    width: 150px;
}

.avgRatingPerCategory {
    font-size: 14px;
    color: rgb(34,34,34);
}

.reviewCategory {
    font-size: 20px;
    color: rgb(34,34,34);
}

.allReviews {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.addReviewContainer {
    border-top: 1px solid rgb(221, 221, 221);
    margin-top: 40px;
}

.addAReview {
    font-size: 24px;
    margin-top: 40px;
}

.addRatingCategory {
    align-items: center;
}

.commentForm {
    margin-top: 20px;
}

.commentHolder {
    display: flex;
}

.commentForm label {
    font-size: 20px;
    margin-right: 35px;
}

.commentForm textarea {
    flex-grow: 1;
    height: 120px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    line-height: 17px;
    overflow-wrap: break-word;
    outline: none;
    font-size: 15px;
}

.commentForm textarea:focus {
    border: 1px solid rgb(45, 160, 226);
}

.reviewButtonContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
}

.reviewButtonContainer button {
    width: fit-content;
    text-align: center;
    padding: 10px 15px;
    border: 1px solid rgb(221, 221, 221);
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    transition: all 0.25s 0s;
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    margin-top: 20px;
  }

.reviewButtonContainer button:hover {
    background-color: rgb(26,136,199);
    color: white;
}

.alreadyAdded {
    font-size: 20px;
}

.addReviewError {
    margin-top: 20px;
    margin-right: 20px;
    width: fit-content;
    font-size: 20px;
    background-color: rgb(192, 53, 22);
    color: white;
    padding: 10px;
    border-radius: 10px;
}
