/* .yourDogsContainer {
    width: 90vw;
    max-width: 1600px;
    margin: 0 auto;
    height: fit-content;
} */

.yourDogsInfoAndMapContainer {
    display: flex;
    justify-content: space-between;
}

.yourDogList {
    width: 630px;
    padding: 0 10px;
}

.yourDogSingleDogContainer {
    display: flex;
    padding: 15px;
    border-top: 1px solid rgb(221, 221, 221);
    max-width: 630px;
    min-width: 600px;
}

.yourDogSingleDogInfo {
    margin: 0;
    width: 287px;
}

.singleDogName {
    font-size: 30px;
    margin-top: 10px;
}

.dogInfoSingleDog {
    color: rgb(113,113,113);
    margin-top: 10px;
}

.yourDogMap {
    width: 50%;
    flex: 1;
    height: calc(100vh - 80px);
    position: sticky;
    top: 80px;
}

.editDeleteDogButtons {
    display: flex;
    margin-top: 40px;
}

.editDeleteDogButtons div {
    width: 80px;
    text-align: center;
    padding: 10px 0;
    border: 1px solid rgb(221, 221, 221);
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    color: black;
    transition: all 0.35s 0s;
}

.editDeleteDogButtons a {
    margin-right: 10px;
}

.editDeleteDogButtons div:hover {
    background-color: rgb(26,136,199);
    color: white;
}

#deleteDogButton:hover {
    background-color: rgb(204,45,74);
}

.deleteDogForm {
    width: fit-content;
    max-width: 500px;
    height: fit-content;
    max-height: 260px;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
}

.areYouSureDogDelete {
    font-size: 20px;
    margin: 10px;
}

.dogDeleteConfirmButtons {
    display: flex;
    justify-content: flex-end;
}

.dogDeleteConfirmButtons div {
    border: 1px solid rgb(221, 221, 221);
    margin-left: 15px;
    cursor: pointer;
    padding: 5px 10px;
    width: 60px;
    background-color: rgb(204,45,74);
    color: white;
    text-align: center;
    border-radius: 20px;
    transition: all 0.35s 0s;
}

.dogDeleteConfirmButtons div:hover {
    background-color: rgb(151, 34, 55);
    color: rgb(202, 202, 202);
}

#cancelDogDelete {
    background-color: white;
    color: black;
}

#cancelDogDelete:hover {
    background-color: rgb(238, 238, 238);
}
