/* .yourDogsContainer {
    width: 90vw;
    max-width: 1600px;
    margin: 0 auto;
    height: fit-content;
} */

.yourDogsInfoAndMapContainer {
    display: flex;
    justify-content: space-between;
}

.yourDogList {
    width: 630px;
    padding: 0 10px;
}

.yourDogSingleDogContainer {
    display: flex;
    padding: 15px;
    border-top: 1px solid rgb(221, 221, 221);
    max-width: 630px;
    min-width: 600px;
}

.yourDogSingleDogInfo {
    margin: 0;
    width: 287px;
}

.singleDogName {
    font-size: 30px;
    margin-top: 10px;
}

.dogInfoSingleDog {
    color: rgb(113,113,113);
    margin-top: 10px;
}

.yourDogMap {
    width: 50%;
    flex: 1;
    height: calc(100vh - 80px);
    position: sticky;
    top: 80px;
}

.editDeleteDogButtons {
    display: flex;
    margin-top: 40px;
}

.editDeleteDogButtons div {
    width: 80px;
    text-align: center;
    padding: 10px 0;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;
    transition: box-shadow 0.25s 0s;
}

.editDeleteDogButtons div:hover {
    box-shadow: -1px 1px 3px rgb(173, 173, 173), 1px 1px 3px rgb(173, 173, 173);
}
